<!DOCTYPE html>
<html>
<head>
[% PROCESS 'html_head.tt2' %]
</head>
<body>
[% PROCESS 'html_body_top.tt2' %]
<form id="posting_form" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="[%= posting.id %]">
    <div class="posting">
        <div class="posting_header">
            <div class="author">[%= c.user.displayname %]</div>
            <div class="date">[%= posting.date %]</div>
        </div>
        <div class="body" lang="[%= posting.lang %]">
            <textarea name="text" rows="10" style="width: 100%">[%= posting.text | html %]</textarea>
        </div>
        <div class="media">
        [% FOREACH media IN posting.medias %]
            [% IF media.type == "image" %]
                <img class="media" src="[%= c.uri_for('/media/' _ media.filename) %]">
            [% ELSIF media.type == "video" %]
                <video class="media" src="[%= c.uri_for('/media/' _ media.filename) %]" controls>
            [% END %]
        [% END %]
        </div>
        <div class="create_posting">
        <input type="file" name="file" accept="image/jpeg, image/png, video/mp4" onChange="console.log(this.form); this.form.submit();">
        [% PROCESS 'select_language.tt2' %]
        <input type="submit" name="post" value="Post">
        </div>
    </div>
</form>
[% PROCESS 'html_body_bottom.tt2' %]
</body>
</html>
