* {
    font-family: "Comic Sans MS";
    font-size: 1rem;
}
a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body {
    background-color: #CCFFCC;
    margin: 0px;
}
code {
    white-space: pre-wrap;
    display: block;
}
div.header {
    align-items: center;
    background-color: white;
    display: flex;
    height: 64px;
    justify-content: space-between;
    width: 100%;
}
div.header_left {
    height: inherit;
    padding-left: 16px;
}
div.header_middle {
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}
div.header_right{
    align-items: center;
    height: inherit;
    padding-right: 16px;
}
div.header2 {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 0.75rem;
    height: 16px;
    justify-content: space-between;
    margin-bottom: 8px;
    width: 100%;
}
div.header2_left {
    font-size: inherit;
    padding-left: 16px;
}
div.header2_middle {
    font-size: inherit;
}
div.header2_right {
    font-size: inherit;
    padding-right: 16px;
}
a.header_logo {
    height: inherit;
}
img.header_logo {
    height: inherit;
}
form.header_search {
    align-items: center;
    display: flex;
}
input.header_search {
    border-radius: 16px;
    width: 50%;
}
div.footer {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    font-size: 0.75rem;
    height: 32px;
    justify-content: space-between;
    margin-top: 8px;
    width: 100%;
}
div.footer_left {
    font-size: inherit;
    padding-left: 16px;
}
div.footer_middle {
    font-size: inherit;
}
div.footer_right {
    font-size: inherit;
    padding-right: 16px;
}
div.posting {
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}
div.posting_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
div.posting_navigation {
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 90%;
}
div.author {
    display: flex;
}
div.date {
    display: flex;
}
div.body {
    border-top: 1px solid black;
}
div.media {
    display: flex;
    flex-wrap: wrap;
}
img.media {
    width: 25%;
}
video.media {
    width: 100%;
}
