<!DOCTYPE html>
<html>
<head>
[% PROCESS 'html_head.tt2' %]
<link rel="stylesheet" href="[%= c.uri_for('/autoexpand.css') %]">
</head>
<body>
[% PROCESS 'html_body_top.tt2' %]
<div class="posting" onClick="window.location.href = '[%= c.uri_for('/') %]'">
    <div class="body">[%= data %]</div>
</div>
[% PROCESS 'html_body_bottom.tt2' %]
</body>
</html>
