<!DOCTYPE html>
<html>
<head>
    <title>[%= title %]</title>
    <link rel="stylesheet" href="[%= c.uri_for('/default.css') %]">
    <link rel="manifest" href="[%= c.uri_for('/manifest.json') %]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="[%= c.uri_for('/favicon/16.png') %]">
    <link rel="icon" type="image/png" sizes="32x32" href="[%= c.uri_for('/favicon/32.png') %]">
    <link rel="icon" type="image/png" sizes="64x64" href="[%= c.uri_for('/favicon/64.png') %]">
    <link rel="icon" type="image/png" sizes="128x128" href="[%= c.uri_for('/favicon/128.png') %]">
    <link rel="icon" type="image/png" sizes="256x256" href="[%= c.uri_for('/favicon/256.png') %]">
    <link rel="icon" type="image/png" sizes="512x512" href="[%= c.uri_for('/favicon/512.png') %]">
    <meta charset="utf-8">
</head>
<body>
<div class="header">
    <div class="header_left">
        <a class="header_logo" href="[%= c.uri_for('/') %]"><img class="header_logo" src="[%= c.uri_for('/favicon/64.png') %]"></a>
    </div>
    <div class="header_middle">[%= title %]</div>
    <div class="header_right">
        <form action="[%= c.uri_for('/search') %]" class="header_search">
            <input class="header_search" name="q" value="[%= c.req.param('q') %]">
            <input class="header_search" type="submit" value="Search">
        </form>
    </div>
</div>
<div class="header2">
    <div class="header2_left">
    </div>
    <div class="header2_center">
    </div>
    <div class="header2_right">
        [% IF c.user %]Logged in as [%= c.user.username %][% END %]
    </div>
</div>
