<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            font-family: "Comic Sans MS";
            font-size: 24px;
        }
        body {
            background-color: #CCFFCC;
        }
        div.posting {
            background-color: #FFFFFF;
            border: 2px solid black;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            width: 1000px;
        }
        div.author {
            float: left;
        }
        div.date {
            float: right;
        }
        div.body {
            border-top: 1px solid black;
            clear: both;
        }
        img.media {
            width: 100%;
        }
        video.media {
            width: 100%;
        }
    </style>
</head>
<body>
[% BLOCK navigation %]
<div class="posting" style="display: flex">
    <div style="width: 20%">
        [% IF previous_page %]
            <a href="[%= c.uri_for(c.action, { page => previous_page, q => c.req.param('q') }) %]">&lt;- Page [%= previous_page %]</a>
        [% END %]
    </div>
    <div style="text-align: center; width: 60%">
        <form action="[%= c.uri_for('/search') %]">
            <input name="q" value="[%= c.req.param('q') %]">
            <input type="submit" value="Search">
        </form>
    </div>
    <div style="text-align: right; width: 20%">
        [% IF next_page %]
            <a href="[%= c.uri_for(c.action, { page => next_page, q => c.req.param('q') }) %]">Page [%= next_page %] -&gt;</a>
        [% END %]
    </div>
</div>
[% END %]
[% PROCESS navigation %]
[% FOREACH posting IN postings %]
    <div class="posting">
        <div class="author">[%= posting.author.displayname %]</div>
        <div class="date"><a href="[% c.uri_for('/posting/' _ posting.id ) %]">[%= posting.date %]</a></div>
        <div class="body" lang="[%= posting.lang %]">[%= posting.text | html_line_break %]</div>
        [% FOREACH media IN posting.medias %]
            <div class="media">
                [% IF media.type == "image" %]
                    <img class="media" src="[%= c.uri_for('/tweets_media/' _ media.filename) %]">
                [% ELSIF media.type == "video" %]
                    <video class="media" src="[%= c.uri_for('/tweets_media/' _ media.filename) %]" controls>
                [% END %]
            </div>
        [% END %]
    </div>
[% END %]
[% PROCESS navigation %]
</body>
</html>
